body,
.hidden p {
    font-family: 'Open Sans', sans-serif;
}

body strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.print-wrapper {
    display: flex;
}

.print-wrapper button {
    margin-right: 2rem;
    padding: 1rem 3rem;
    font-size: 1.25rem;
}

.drop-file-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2rem;
    text-align: center;
}
