.hidden-print {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.print-container {
    font-family: 'Open Sans', sans-serif;
    border: 0.5mm solid #000;
    border-radius: 0.8mm;
    margin: 10mm 0 0 7mm;
    width: 250mm;
    height: 100mm;
}
.print-container strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.print-container p {
    font-family: 'Open Sans', sans-serif;
}
.logo-container {
    padding-right: 12mm;
    position: relative;
    text-align: center;
}
.absolute-logo {
    position: absolute;
    top: 0.3mm;
    right: -1.6mm;
    z-index: 1;
}
.meta .sub-title {
    text-align: center;
    margin-top: 2mm;
    margin-bottom: 2mm;
    font-size: 3.5mm;
}
.separate {
    border-top: 3mm solid #D8E2F3;
    margin: 0.5mm 0 0 0;
    position: relative;
    z-index: 2;
}
.meta {
    margin-right: 1.5mm;
    padding: 0 2mm 0 4mm;
    margin-bottom: 2.1mm;
    width: 35%;
    position: relative;
}
.main-logo {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.meta p {
    margin: 0;
}
.print-container {
    display: flex;
}
.personal-data {
    text-align: center;
    margin-top: 2mm;
}
.personal-data p {
    font-size: 3.8mm;
}
.doses p {
    font-size: 3mm;
}
.doses small {
    font-size: 2mm;
    line-height: 2.8mm;
    display: block;
    margin-top: 0.5mm;
}
.compound {
    width: 65%;
    height: 100%;
}
.compound .table {
    display: flex;
    height: 100%;
    padding: 2.5mm 0 4mm 2mm;
}
.compound .column {
    width: 33.333%;
    margin-right: 2mm;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.personal-data .name p,
.personal-data .date p {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.personal-data .name p {
    font-size: 5.5mm;
}
.personal-data .date p {
    font-size: 4.5mm;
}
.row-table {
    display: flex;
    width: 100%;
    padding-bottom: 0.1mm;
    padding-left: 1.2mm;
    flex-grow: 1;
}
.row-table p {
    margin-bottom: 0;
    font-size: 2.4mm;
}
.row-table.small-row {
    padding-bottom: 0;
}
.row-table.small-row p {
    font-size: 2mm;
}
.row-table p:first-child {
    text-align: left;
    flex-grow: 1;
    line-height: 1;
}
.row-table p:last-child {
    text-align: right;
}
.doses {
    position: absolute;
    bottom: 1.5mm;
    left: 4mm;
    right: 2mm;
}
.column .category:first-child {
    padding-top: 0;
}
.row-table.category {
    padding: 0.6mm 0 0.8mm 0;
    font-weight: bold;
    color: #094E9D;
}

@media print {
    .hidden-print {
        position: static;
    }
}